.forecast-day-card {
    padding: 1rem;
    border-radius: 8px;
    transition: all 0.5s ease;
}
@media (max-width: 780px) {
    .forecast-day-card {
        max-width: 200px;
    }
}
.forecast-day-card:hover {
    box-shadow: 0 0 5px var(--primary);
    cursor: pointer;
    transition: all 0.5s ease;
}

.forecast-day-card h4 {
    margin: 0;
}
.hourly {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 1rem;
}
.hourlySpan {
    transition: all 0.5s ease;
}
.forecast-day-card:hover .hourlySpan {
    border-bottom: solid 1.5px var(--primary);
    transition: all 0.5s ease;
}

.forecast-day-card:hover .moving-arrow {
    animation: moveArrow 1.2s linear infinite;
}
@keyframes moveArrow {
    0% { transform: translateX(0); opacity: 1;}
    50% { transform: translateX(10px); opacity: 1;}
    45% { opacity: 0.5; }
    55% { opacity: 0; }
    65% { transform: translateX(-10px); opacity: 0;}
    100% { transform: translateX(0); opacity: 1;}
}